.mainBox {
    width: 60vw;
    height: 65vh;
    margin: auto;
    margin-top: 30px;
    box-shadow: 4px 4px 10px 4px gray;
    display: flex;
    /* flex-wrap: wrap; */
    background-color: #f8f5f5;
}

.cont {
    box-shadow: 0px 0px 5px rgb(165, 164, 164);
    background-color: rgba(252, 252, 252, 0.925);
}

.manProfileBox {
    width: 19vw;
    margin: 15px;
    text-align: center;
}

.profPhoto {
    width: 10vw;
    border-radius: 90px;
    margin-top: 24%;
}

.manName {
    margin-top: 15px;
    font-weight: 700;
    font-size: 18px;
}

.workPlace {
    opacity: 0.75;
}

.toMessageButt {
    border: none;
    padding: 5px;
    width: 60%;
    margin-top: 15px;
    background-color: #68c09e;
    color: white;
}

.mainInfoBox {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 40vw;
    gap: 15px;
}

.countingBox {
    display: flex;
    /* align-items: normal; */
    text-align: center;
    gap: 15px;
    height: 25vh;
}

.contribBox {
    display:inline-block;
    flex: 1;
}

.countLabel {
    color: #68c09e;
    font-weight: 700;
    font-size: 21px;
    margin-top: 25%;
    margin-bottom: 2%;
}

.countName {
    opacity: .5;
}

.aboutManBox {
    padding: 30px 30px 0 30px;
    flex-grow: 1;
}

.moreAboutLabel {
    font-size: 18px;
    font-weight: 600;
    text-align: center;

}

.manInfoText {
    font-size: 1em;
}