@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Pacifico&display=swap");

body {
    margin: 0;
}

p,
button, span {
    font-family: "Pacifico", cursive;
    font-family: "PT Sans", sans-serif;
}

.mainBox {
    width: fit-content;
    margin: auto;
    margin-top: 140px;
    padding: 10px 75px;
    background-color: #cccccc50;
}

.subjLabel {
    font-size: 40px;
}

.inputName {
    font-size: 18px;
}

input,
.inputName {
    display: inline-block;
    margin-bottom: 0;
}

input {
    padding: 4px 7px;
    font-size: 15px;
}

button {
    margin-top: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-size: 17px;
    border: none;
    padding: 7px 10px;
    background-color: rgba(192, 193, 194, 0.788);
}

button:hover {
    background-color: rgba(197, 197, 197, 0.658);
}

button:active {
    background-color: rgba(38, 194, 64, 0.247);
}

.yourIndexLabel {
    margin-top: 30px;
    font-size: 20px;
}

.indText {
    font-size: 25px;
}

.itMeanLab {
    font-size: 20px;
}