body {
    margin: 0;
}

.mainBox {
    width: 90%;
    margin: auto;
    margin-top: 80px;
    border: 2px solid rgba(128, 128, 128, 0.089);
    padding: 15px;
}

.currBox {
    margin: 20px;
    border: 2px solid rgba(0, 0, 0, 0.459);
}

.textSimp {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.rateLab {
    display: inline-block;
    
}

.currName {
    display: inline-block;
    
}

.flagsBox {
    margin: 4px 10px;
    /* border: 1px solid green; */
    /* display: inline; */
    width: fit-content;
    height: fit-content;
}

.currLab {
    font-size: 25px;
    margin-left: 5px;
    display: inline-block;
}